h1 {
  font-family: Helvetica;
  font-weight: 100;
  color: steelblue;
}

h3 {
  font-family: Helvetica;
  font-weight: 100;
}

h5 {
  font-family: Helvetica;
  font-weight: 100;
  color: darkgrey;
}

input {
  border-style: none;
  background-color: aliceblue;
  font-family: monospace;
  font-size: 15px;
  color: #212121;
}

label {
  text-align: center;
}